nav{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  height: 6rem;
  width: 100%;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

nav a{
  margin: 0px 20px 0px 20px;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 0.4s;

}

nav li:hover{
  color: white;
  background: black;
}

nav li a{
  font-size: 1.1rem;
  text-decoration: none;
  color: inherit;
  margin: 0px 20px 0px 20px;
  padding: 10px;
}