{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'hoofball/styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hoofball/styles/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hoofball/styles/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hoofball/styles/comment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hoofball/styles/content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hoofball/styles/suggestions.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header>
    <nav>
      <a href="{% url 'index' %}"><img src="{% static '/hoofball/images/badge.png' %}" width="52" height="66"></a>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'squad' %}">Squad</a></li>
        <li><a href="{% url 'fixtures' %}">Fixtures</a></li>
        <li><a href="{% url 'finances' %}">Finances</a></li>
        <li><a href="{% url 'goals' %}">Goals</a></li>
        <li><a href="{% url 'suggestions' %}">Suggestions</a></li>
      </ul>
    </nav>
  </header>

    <div class="content-container">
        {% block content %}{% endblock %}
    </div>

    {% block comments %}{% endblock %}
    
    <footer>© 2021 Leonardo Holanda. Not a single one right reserved.</footer>
    <script type="text/javascript" src="{% static 'hoofball/scripts/form_validation.js' %}"></script>
    <script type="text/javascript" src="{% static 'hoofball/scripts/table_sorting.js' %}"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script> feather.replace() </script>
</body>
</html>