{% extends "./base.html" %}

{% load static %}

{% block title %}Hoofball - Goals{% endblock %}

{% block content %}
    <section>
        <h2>Goals in 20/21 Season</h2>

        <p>Those are some goals so far.</p>
    
        <video controls>
            <source src="{% static '/hoofball/videos/goal1.mp4' %}"type="video/mp4">
        </video>
    </section>
{% endblock %}

{% block show_comments %}
    {% include "./show_comments.html" with comments=all_comments %}   
{% endblock %}


{% block comment_form %}
    {% include "./forms/comment_form.html" with source="goals" %}   
{% endblock %}

