{% extends "./base.html" %}

{% load static %}

{% block title %}Hoofball - Squad{% endblock %}

{% block content %}
  <div class="content-banner squad-banner">
    <div class="content-banner-text">
      <h2>SQUAD</h2>
    </div>
  </div>
  <section>
      <p>
        This is the squad of the club today. We have 24 players, 2 for each position, except for advanced midfielder and strikers where we have 3 per position.
        The highlight of the season has been Henry Jones, hired for almost three months and who has already contributed 3 goals and 3 assists.
        Tom Powell is our top goalscorer with 11 goals. He has 4 assists, tied with Irishman Josh Giurgi.
      </p>
      <img src="{% static '/hoofball/images/squad.png' %}" width="1366" height="768">

      <p>This is the full squad.</p>
      <img src="{% static '/hoofball/images/full_squad.png' %}" width="1366" height="768">
  </section>
{% endblock %}

{% block comments %}
  <div class="comments-container">
    <div class="comments-list">
      {% include "./show_comments.html" with comments=all_comments source="squad" %}
    </div>
    <div class="comments-form">
      {% include "./forms/comment_form.html" with source="squad" %}
    </div>
  </div>
{% endblock %}