{% extends "./base.html" %}

{% load static %}

{% block title %}Hoofball - Suggestions{% endblock %}

{% block content %}
  <div class="content-banner suggestions-banner">
    <div class="content-banner-text">
      <h2>SUGGESTIONS</h2>
    </div>
  </div>

  <section class="suggestion-container">
    <div class="suggestion-form">
      <h2>Suggest a player:</h2>
      {% include "./forms/player_form.html" %}
    </div>
  </section>

  <div class="previously-suggested-container">
    <h2>Previously suggested players</h2>
    <table id="suggestions_table" style="border: 1px solid black">
      <tr>
        <th onclick="sortTable(0)">Name</th>
        <th onclick="sortTable(1)">GameID</th>
        <th onclick="sortTable(2)">Age</th>
        <th onclick="sortTable(3)">Position</th>
        <th onclick="sortTable(4)">Wage</th>
        <th onclick="sortTable(5)">Value</th>
        <th onclick="sortTable(6)">Description</th>
      </tr>
      {% for player in all_players %}
      <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.gameID }}</td>
        <td>{{ player.age }}</td>
        <td>{{ player.position }}</td>
        <td>{{ player.wage }}</td>
        <td>{{ player.value }}</td>
        <td>{{ player.description }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
